.section-1{
    z-index: 4;
    position: fixed;
    width: 100%;
    background-color: rgba(28, 28, 28, 100%);
}

.header, .subject-text, .header-login-right{
    display: flex;
}
.header{
    margin: 0px 19.6px;
    padding: 8px 50px;
}
.subject-text{
    justify-content: center;
}
.header-login-right{
    justify-content: left;
    width: 7%;
    align-items: center;
}
.header-blen-left{
    width: 57%;
    align-items: center;
    display: flex;
}
.blen-text{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 700;
}
.subject-text-Subjects, .subject-text-IBResources, .subject-text-Tutors, .subject-text-Students, .subject-text-Pricing{
    margin: 18px 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 17px;
}
.header-login-right-login, .header-login-right-signup{
    padding: 10px 23px;
    text-decoration: none;
    color: black;
    font-family: sans-serif
    /* font-size: 15px;
    font-weight: 700; */
}
.header-login-right-login{
    background-color: #fff;
    color: #334ac0;
    box-shadow: 0 0 5px 0 #ccc;
    border-radius: 5px;
}
.header-login-right-signup{
    box-shadow: 0 0 5px 0 #ccc;
    color: #fff;
    background-color: #334ac0;
    border-radius: 5px;
    margin-left: 10px;
}
/* .on-hover-active{
    text-underline-position: under;
    text-decoration: underline !important;
} */
.subject-text-Subjects:hover ,.subject-text-IBResources:hover, .subject-text-Tutors:hover, .subject-text-Students:hover, .subject-text-Pricing:hover, .home-text:hover{
    text-decoration: none !important;
    color: #FFBF00;
    font-size: 18px;
}
.header-login-right select{
    width: 20px;
    background-color: #586ee0;
    color: white;
    height: 30px;
    border-radius: 3px;
}

.header-login-right select option{
    background-color: white;
    color: #586ee0;
    height: 500px;
    font-weight: 700;
    width: 100px;
    padding: 5px 10px;
}

.blen-text img{
    width: 241px;
    height: 60px;
    border-radius: 30px;
}

.scrool-top{
    position: absolute;
    right: 29px;
    top: 600px;
    text-decoration: none;
}

.scrool-top img{
    width: 45px;
    height: 45px;
    border: 4px solid #FFBF00;
    border-radius: 24px;
}

.scrool-top img:hover {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    transition-duration: 0.5s;
}

.courses-text-parent{
    border: none;
    outline:0px;
    background-color: initial;
    -webkit-appearance: media-slider;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    overflow:hidden;
}

.Option-courses{
    color: black;
}

.common-hover:hover .Option-courses{
    color: black;
}

.home-text{
    text-decoration: none;
    color: #fff;
}

select option {
    padding: 10px;
}

