.IBDP-Comp-align{
    background-color: rgba(28, 28, 28, 100%);
    padding: 25px 55px 75px 55px;
}

.container-2 {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.content-2 {
    width: 80%;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 50%;
    color: white;
    background-color: #fff;
    border-radius: 30px;
    padding-bottom: 2.5%;
    padding-top: 2.5%;
    font-size: 17px;
    transition: 0.4s;
}

.subject-table {
    height: 60%;
}

.box-1 {
    width: 100%;
    margin-top: 30px;
}

h1, h2 {
    font-family: sans-serif;
}

#physics {
    color: #524dff;
    border: 3px solid #524dff;
    background-color: black;
}

.box-1 button {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    height: 20%;
    width: 25%;
    font-size: 22px;
    background: black;
    outline: none;
    transition: 0.4s;
}

#chemistry {
    color: #ffcc00;
    border: 3px solid #ffcc00;
    background-color: black;
}

#biology {
    color: #6eff8d;
    border: 3px solid #6eff8d;
    background-color: black;
}

#comp {
    color: #947cf9;
    border: 3px solid #947cf9;
    background-color: black;
}

#economics {
    color: #f830ff;
    border: 3px solid #f830ff;
    background-color: black;
}

#englit {
    color: #ecadff;
    border: 3px solid #ecadff;
    background-color: black;
}

#englan {
    color: #ff456d;
    border: 3px solid #ff456d;
    background-color: black;
}

#gp {
    color: #00ff95;
    border: 3px solid #00ff95;
    background-color: black;
}

#addmath {
    color: #84AEF8;
    border: 3px solid #84AEF8;
    background-color: black;
}

#intmath {
    color: #f5b642;
    border: 3px solid #f5b642;
    background-color: black;
}

.content-2:hover{
    box-shadow: inset 0px 0px 25px 1px;
    border: 0px solid #f5b642;
}

#ess {
    color: #15c210;
    border: 3px solid #15c210;
    background-color: black;
}

#business {
    color: #ffd519;
    border: 3px solid #ffd519;
    background-color: black;
}

#psychology {
    color: #F393B9;
    border: 3px solid #F393B9;
    background-color: black;
}

#history {
    color: #f1ac3d;
    border: 3px solid #f1ac3d;
    background-color: black;
}

#spanish-ab {
    color: #f59f81;
    border: 3px solid #f59f81;
    background-color: black;
}

#spanish-b {
    color: #eded39;
    border: 3px solid #eded39;
    background-color: black;
}

#french-ab {
    color: #8affc4;
    border: 3px solid #8affc4;
    background-color: black;
}

#french-b {
    color: #66e364;
    border: 3px solid #66e364;
    background-color: black;
}

#german-ab {
    color: #ff707e;
    border: 3px solid #ff707e;
    background-color: black;
}

#mandarin-ab {
    color: #ff2e42;
    border: 3px solid #ff2e42;
    background-color: black;
}

#hindi {
    color: #dbf19d;
    border: 3px solid #dbf19d;
    background-color: black;
}

#math-aa-hl {
    color: #84AEF8;
    border: 3px solid #84AEF8;
    background-color: black;
}

#tok {
    color: #24edb7;
    border: 3px solid #24edb7;
    background-color: black;
}

#eng-langlit-sl {
    color: #ff5ce7;
    border: 3px solid #ff5ce7;
    background-color: black;
}

#english-lit {
    color: #0077cf;
    border: 3px solid #0077cf;
    background-color: black;
}

.color-Text-Subject{
    background-color: #ca0a54;
    padding: 2px 33px 2px 33px;
    font-weight: 700;
}

.color-Text-Subject-one{
    background-color: #00ad45;
    padding: 2px 33px 2px 33px;
    font-weight: 700;
}

.color-Text-Subject-two{
    background-color: #334ac0;
    padding: 2px 33px 2px 33px;
    font-weight: 700;
}

.color-Text-Subject-three{
    background-color: #edbb05;
    padding: 2px 33px 2px 33px;
    font-weight: 700;
}