.subscription-card-flx{
    display: flex;
}
.subscription-card{
    padding: calc(20px + (30 - 20)*((100vw - 320px)/(2000 - 320))) calc(20px + (60 - 20)*((100vw - 320px)/(2000 - 320)));
    background: linear-gradient(135deg, rgba(30,29,40,1) 0%, rgba(37,49,80,1) 100%);
    border-radius: 5px;
}
.subscription-card-flx-12month, .subscription-card-flx-1month, .subscription-card-flx-3month, .subscription-card-flx-unlimited{
    text-align: center;
    padding: 25px 10px;
    background-color: #1e1d28;
    color: #fff;
    border-radius: 4px;
}
.subscription-card-flx-unlimited, .subscription-card-flx-1month, .subscription-card-flx-3month{
    margin-right: 14px;
}
.subscription-card-flx-free-trial{
    width: 70%;
    padding:30px 0px 0px;
}
.subscription{
    padding: 0px 50px;
    margin: 0px 20px 106px;
}
.subscription-card-flx-free-trial-heading h1{
    color: #fff;
    font-size: calc(26px + (40 - 26)*((100vw - 320px)/(2000 - 320)));
}
.subscription-card-flx-free-trial-bold{
    font-weight: bolder;
}
.subscription-card-flx-free-trial-btn a{
    background-color: #fff;
    color: #334ac0;
    padding: 15px calc(40px + (60 - 40)*((100vw - 320px)/(2000 - 320)));
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 0 5px 0 #ccc;
    border-radius: 5px
}
.subs-card-align{
    display: flex;
    justify-content: space-between;
}
.ftsize-dis{
    font-size: 11px;
}
.ftsize-dis{
margin: 25px 0px 35px 0px;

}
.ftsize-dollor{
    font-size: calc(26px + (40 - 26)*((100vw - 320px)/(2000 - 320)));
    font-family: 'GothamGreek', sans-serif;
    font-weight: 800;
}
.ftsize-below-txt{
    font-size: 7px;
    margin: 3px 0 0;
}
.ftsize-dollor-height{
    line-height: 0.8;
    margin: 30px 0px 0px 0px !important;
}
.ftsize-heading{
    font-size: 18px;
    font-weight: 700;
}
.subscription-card-flx-12month:hover, .subscription-card-flx-1month:hover, .subscription-card-flx-3month:hover, .subscription-card-flx-unlimited:hover{
    background-color: #334ac0;
}
.subscription-card-flx-free-trial-btn a:hover{
    background-color: #334ac0;;
    font-weight: 800;
    color: #fff;
}
.card-Small-Text{
    font-size: 9px !important;
}
