.student-tutor{
    padding: 106px 0px;
}
.student-tutor-card{
   padding: 0px 50px;
   margin: 0px 20px;
}
.student-tutor-card-text-heading{
   text-align: center; 
   font-size: calc(26px + (40 - 26)*((100vw - 320px)/(2000 - 320)));
   font-weight: 700;
   font-family: 'GothamGreek', sans-serif;
   color: #2b2a34;
   margin-bottom: 20px;
}
.student-tutor-card-text-heading-para{
    text-align: center; 
    font-size: 18px;
    font-family: 'GothamGreek', sans-serif;
    color: #2b2a34;
 }
.student-tutor-card-text{
    display: flex;
    justify-content: center;
}
.IBDP-text{
    background: linear-gradient(90deg, rgb(63 233 179) 0%, rgba(88,110,224,1) 100%);
    color: #fff;
    padding: 2px 7px 2px 6px;
    border-radius: 5px;
}
.student-tutor-card-data-flx{
    display: flex;
}
.student-tutor-card-data{
    margin-top: 30px;
}
.student-tutor-card-data-one,.student-tutor-card-data-two,.student-tutor-card-data-three,.student-tutor-card-data-four,.student-tutor-card-data-five{
    text-align: center;
    font-family: 'GothamGreek', sans-serif;
    font-size: 15px;
    background-color: #99a4df;
    border-radius: 20px;
    box-sizing: border-box;
    left: 50%;
    overflow: hidden;
    padding: 50px 0;
    top: 50%;
    width: 100%;
}
.student-tutor-card-data-one h2, .student-tutor-card-data-two h2, .student-tutor-card-data-three h2, .student-tutor-card-data-four h2, .student-tutor-card-data-five h2{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
    font-size: calc(18px + (24 - 18)*((100vw - 320px)/(2000 - 320)));
    font-weight: 700;
}
.student-tutor-card-btn a{
    background-color: #334ac0;
    padding: 15px calc(40px + (60 - 40)*((100vw - 320px)/(2000 - 320)));
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 #ccc;
    font-family: 'GothamGreek', sans-serif;
}
.student-tutor-card-btn{
    display: flex;
    justify-content: center;
    margin: 70px 0px 0px;
}
.icon-clr{
    color: #781ce9;
}
.img-icon-tutor{
    height: auto;
}
.student-tutor-card-data-one:hover, .student-tutor-card-data-two:hover, .student-tutor-card-data-three:hover, .student-tutor-card-data-four:hover{
    width: 130%;
    background-color: #6967e4; 
}
/* .student-tutor-card-data:hover .img-icon {
    height: 110px;
  } */
.student-tutor-card-btn a:hover{
    color: #334ac0;
    background-color: #fff;
    border: 2px solid #334ac0;
    box-shadow: 0 0 10px 0 #ccc;
  }
  .student-tutor-card-text-heading-one{
  float: left;
  font-size: calc(32px + (60 - 32)*((100vw - 320px)/(2000 - 320)));
  font-weight: 700;
  margin: 0 0 20px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: 'GothamGreek', sans-serif;
  }
  .student-tutor-text{
    margin: 15px 0 30px;
    color: white;
  }
.active{
    width: 50%;
}